$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1100 + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$dark100: rgba(31, 32, 65, 1);
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark5: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$white: rgb(255, 255, 255);

$bold: 700;
